footer {
  margin-top: 140px;
  padding-bottom: 20px;

  @include breakpoint(small) {
    margin-top: 50px;
  }

  .bee {
    display: block;
    margin: 20px auto -10px;
    width: 80px;
    height: 70px;
  }

  small {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}
