header {
  padding-top: 60px;

  @include breakpoint(small) {
    padding-top: 20px;
  }

  a,
  svg {
    display: block;
    width: 422px;
    height: 86px;
    margin: 0 auto;

    @include breakpoint(small) {
      width: 100%;
      height: auto;
    }
  }
}
