header {
  padding-top: 60px;

  @include breakpoint(small) {
    padding-top: 20px;
  }

  .logo {
    display: block;
    position: relative;
  }

  svg {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
    color: $color__black;

    @include breakpoint(small) {
      width: 85%;
    }
  }
}
