header {
  padding-top: 60px;

  a,
  svg {
    display: block;
    width: 422px;
    height: 86px;
    margin: 0 auto;

    @include breakpoint(small) {
      width: 211px;
      height: 43px;
    }
  }
}
