h1, h2, p, ul, small {
  margin-top: 20px;
  font-size: 18px;
  line-height: 27px;
}

h1,
h2,
h3,
b,
strong {
  font-weight: bold;
}

h1 {
  margin-top: 60px;
}

h2 {
  margin-top: 60px;

  &[data-reveal-trigger] {
    cursor: pointer;
  }
}

a {
  text-decoration: underline;
  color: $color__link;
}

a:hover,
a:active,
a:focus {
  color: $color__link--hover;
}

img {
  border: 0 none;
}

small {
  @include font--xs;
  display: block;
  color: $color__text--grey;
}

.e404 {
  @include font(72,72);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
