h1, h2, p, ul, small {
  @include font--m;
  margin-top: 20px;

  @include breakpoint(small) {
    @include font--s;
    margin-top: 15px;
  }
}

h1,
h2,
h3,
b,
strong {
  font-weight: bold;
}

h1,
h2 {
  margin-top: 60px;

  @include breakpoint(small) {
    margin-top: 30px;
  }
}

h2[data-reveal-trigger] {
  cursor: pointer;
}

a {
  text-decoration: underline;
  color: $color__link;
}

a:hover,
a:active,
a:focus {
  color: $color__link--hover;
}

img {
  border: 0 none;
  opacity: 1;
  transition: opacity .25s;
}

img[data-src] {
  opacity: 0;
}

small {
  @include font--xxs;
  display: block;
  color: $color__text--grey;
}

.e404 {
  @include font(72,72);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.award-link {
  display: inline-block;
  text-decoration: none;
  transition: transform .2s;
}

.award-link:hover {
  transform: rotate(-5deg) scale(1.2);
  animation: jiggle .2s infinite;
}

@keyframes jiggle {
  0% {
    transform: rotate(-5deg) scale(1.2);
  }
  50% {
    transform: rotate(5deg) scale(1.2);
  }
}
