.intro {
  @extend %float_clear;
  margin-bottom: 10px;
}

.intro__col {
  display: inline;
  float: left;
  margin-left: 18px;
  width: 187px;

  @include breakpoint(small) {
    float: none;
    display: block;
    margin-bottom: 20px;
    width: auto;
  }

  &:first-child {
    margin-left: 0;
    padding-right: 20px;
    width: 372px;

    @include breakpoint(medium) {
      float: none;
      display: block;
      margin-bottom: 20px;

      & + & {
        margin-left: 0;
      }
    }

    @include breakpoint(small) {
      float: none;
      display: block;
      width: auto;
    }
  }

  h2 {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 0;
  }

  ul {
    padding-left: 15px;
  }

  li {
    list-style-type: disc;
  }
}