.intro {
  @extend %float_clear;
  margin-bottom: 10px;
}

.intro__col {
  display: inline;
  float: left;
  width: 50%;
  padding-right: 20px;

  @include breakpoint(small) {
    float: none;
    display: block;
    width: auto;
  }

  &:first-child {
    width: auto;
    padding-right: 0;

    @include breakpoint(medium) {
      float: none;
      display: block;
    }
  }

  h1 span {
    display: block;
    color: #9e9e9e;
  }

  p {
    max-width: 90%;
  }

  ul {
    padding-left: 15px;
  }

  li {
    list-style-type: disc;
  }
}
