.social {
  text-align: center;

  li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }

  a {
    color: $color__text;
  }

  a:hover,
  a:focus {
    color: $color__link;
  }

  svg {
    display: inline-block;
    width: auto;
    height: 20px;

    @include breakpoint(small) {
      width: 15px;
      height: 15px;
    }
  }

  a[title='Linked In'] svg {
    position: relative;
    top: -1px;
  }
}
