.work {
  @include font--s;
  @extend %float_clear;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin: -20px -20px 0;

  @include breakpoint(medium) {
    margin-right: -10px;
    margin-left: -10px;
  }

  @include breakpoint(small) {
    @include font--xs;
  }

  li {
    flex: 0 0 185px;
    width: 185px;
    margin: 40px 20px 0;

    @include breakpoint(medium) {
      flex: 0 0 auto;
      width: calc((100vw - 120px)/3);
      margin-right: 10px;
      margin-left: 10px;
    }

    @include breakpoint(small) {
      flex: 0 0 auto;
      width: calc((100vw - 60px)/2);
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .js-all {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
  }

  &.js-reveal .js-all {
    position: static;
    visibility: visible;
    opacity: 1;
  }

  .work__meta {
    margin-top: 10px;
  }

  .work__img {
    position: relative;
  }

  .work__img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0,0,0,.25);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  a svg {
    display: inline-block;
    width: 18px;
    height: 9px;
    margin-left: 5px;
  }

  a {
    color: $color__link;
  }

  a:hover,
  a:focus {
    color: $color__link--hover;
  }
}
