#lease-miles-calculator {
  padding-top: 60px;

  .cols {
    overflow: hidden;
  }

  .cols + .cols {
    border-top: 1px solid $color__black--5;
    padding-top: 20px;
    margin-top: 20px;
  }

  .col {
    float: left;
    width: 50%;

    @include breakpoint(medium) {
      float: none;
      width: 100%;
    }
  }

  dl {
    overflow: hidden;
  }

  dt {
    clear: left;
    float: left;
    width: 200px;
    padding-bottom: 10px;
  }

  dd {
    overflow: hidden;
    float: left;
    padding-bottom: 10px;
  }

  input {
    float: left;
    width: 50px;
    margin-right: 5px;
  }

  p {
    text-align: center;
  }

  button {
    @include font--m;
    position: relative;
    display: inline-block;
    padding: 4px 6px;
    border: 1px solid $color__black--90;
    background: $color__black--3-5;
  }

  button:hover,
  button:focus,
  button:active,
  button.js-loading,
  button.js-loading:hover,
  button.js-loading:focus,
  button.js-loading:active {
    background: $color__white;
  }

  button.js-loading,
  button.js-loading:hover,
  button.js-loading:focus,
  button.js-loading:active {
    color: $color__white;
  }

  button.js-loading::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color__orange;
    animation: spin .5s linear infinite;
  }

  .bars {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .too-many {
    color: red;
    font-weight: bold;
  }

  .too-few {
    color: green;
  }

  .bars {
    position: relative;
    height: 100px;
    background: #f2f2f2;
  }

  .bars__bar {
    position: absolute;
    left: 0;
    transition: width .25s ease-in-out;
  }

  .bars__bar::after {
    @include font--xxs();
    content: attr(title);
    position: absolute;
    left: 100%;
    top: 0;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    transform: rotate(90deg) translateY(8px);
    transform-origin: 0;
    line-height: 10px;
  }

  .bars__bar--target {
    top: 0;
    height: 50%;
    background-color: #666;
  }

  .bars__bar--driven {
    top: 50%;
    height: 50%;
    background-color: purple;
  }

  .bars__label-total-miles {
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 100px;
    text-transform: uppercase;
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
