header .logo__audi,
header .logo__vauxhall {
  width: 120px;
}

#lease-miles-calculator {
  padding-top: 60px;

  .cols {
    overflow: hidden;
  }

  .cols + .cols {
    border-top: 1px solid $color__black--5;
    padding-top: 20px;
    margin-top: 20px;
  }

  .col {
    float: left;
    width: 50%;

    @include breakpoint(medium) {
      float: none;
      width: 100%;
    }
  }

  dl {
    overflow: hidden;
  }

  dt {
    clear: left;
    float: left;
    width: 200px;
    padding-bottom: 10px;
  }

  dd {
    overflow: hidden;
    float: left;
    padding-bottom: 10px;
  }

  input {
    float: left;
    width: 85px;
    margin-right: 5px;
    font-size: 18px;

    &#dateStart_day,
    &#dateStart_month {
      width: 40px;
    }

    &#dateStart_year {
      width: 65px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  button {
    @include font--m;
    position: relative;
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid $color__black--90;
    background: #fff;
    border-radius: 30px;
  }

  button:hover,
  button:focus,
  button:active,
  button.js-loading,
  button.js-loading:hover,
  button.js-loading:focus,
  button.js-loading:active {
    background: $color__white;
  }

  button.js-loading,
  button.js-loading:hover,
  button.js-loading:focus,
  button.js-loading:active {
    color: $color__white;
  }

  button.js-loading::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $color__orange;
    animation: spin .5s linear infinite;
  }

  .too-many {
    color: red;
    font-weight: bold;
  }

  .too-few {
    color: green;
  }

  .bars {
    position: relative;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
    background: #fff;
    border: 1px solid #666;
    overflow: hidden;
  }

  .bars__bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    background: rgba(0,0,0,.5);
    transition: width .25s ease-in-out;
  }

  .bars__bar--target {
    border-right: 1px solid #f00;
  }

  .bars__bar--driven {
    border-right: 1px solid #090;
  }

  .bars__label-total-miles {
    display: none;
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
