#miles {
  padding-top: 60px;
}

#miles * {
  font-family: 'Oswald', sans-serif;
}

#miles h1 {
  font-size: 185px;
  line-height: 175px;
  margin: 0;
  vertical-align: text-top;
}
#miles p {
  font-size: 80px;
  line-height: 100px;
  padding: 10px 0 30px;
  border-bottom: .1em solid #1a1a1a;
}
#miles span {
  display: block;
}
#miles h1 .m {
  text-align: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
  text-align-last: justify;
}
#miles h1 .y {
  font-size: 80px;
  line-height: 100px;
  text-align: center;
  text-shadow: -6px -6px white, -6px 6px white, 6px -6px white, 6px 6px white;
  box-shadow: inset 0 -0.5em white, inset 0 -0.6em #1a1a1a;
}
#miles .m,
#miles .d {
  position: relative;
}
#miles .m:hover {
  color: #ff5400;
  cursor: pointer;
}
#miles .m.active:hover {
  color: #1a1a1a;
  cursor: default;
}
#miles .m[title]:before,
#miles .d[title]:before,
#miles .d a[title]:before {
  content: attr(title);
  position: absolute;
  right: 0;
  top: 12px;
  font: 11px/13px Arial, sans-serif;
  color: #fff;
  background-color: #000;
  background-color: rgba(0,0,0,.75);
  padding: 4px 8px;
  max-width: 200px;
  opacity: 0;
  transition: opacity .1s linear;
  transition-delay: .25s;
}
#miles .m[title]:hover:before,
#miles .d[title]:hover:before,
#miles .d a[title]:hover:before {
  opacity: 1;
}
#miles .d {
  display: block;
  overflow: hidden;
  max-height: 0;
  color: #999;
  -moz-transition: max-height .25s;
  -ms-transition: max-height .25s;
  -o-transition: max-height .25s;
  -webkit-transition: max-height .25s;
  transition: max-height .25s;
}
  #miles .m.active + .d {
    max-height: 100px;
  }
  #miles h1 .m.active + .d,
  #miles h2 .m.active + .d,
  #miles .m.active + .d_l {
    max-height: 200px;
  }
  #miles .m.active + .d_xl {
    max-height: 900px;
  }
  #miles .d a {
    text-decoration: none;
    color: inherit;
    text-shadow: -2px -2px white, -2px 2px white, 2px -2px white, 2px 2px white;
    box-shadow: inset 0 -0.17em white, inset 0 -0.2em #1a1a1a;
  }
    #miles .d a:hover {
      box-shadow: inset 0 -0.17em white, inset 0 -0.2em #ff5400;
    }
    #miles .d a::before {
      text-shadow: none;
      box-shadow: none;
    }

@include breakpoint(medium) {
  #miles {
    padding-top: 40px;
  }
  #miles h1 {
    font-size: 90px;
    line-height: 90px;
  }
  #miles p,
  #miles h1 .y {
    font-size: 40px;
    line-height: 55px;
  }
}

@include breakpoint(small) {
  #miles h1 {
    font-size: 50px;
    line-height: 50px;
  }
  #miles p,
  #miles h1 .y {
    font-size: 25px;
    line-height: 35px;
  }
  #miles .m:hover {
    cursor: default;
    color: #000;
  }
  #miles .d {
    max-height: 999px;
  }
}
